<!DOCTYPE html>
<html>
<body>
<title>AgeStatistics</title>
<h1>Age Statistics</h1>
<p>Enter your state and county to receive age statistics</p>
  
  
  <form action="/submit" method="post">
   <label for="States">Choose a State:</label>
  <select name="states">
    {{states}}
  </select>
  <br><br>
    <input type="submit" value="Submit">
</form>

<p> Percentage of the population under 18 years old: {{ average_age }}% </p>
  
  <form action="/submit" method="post">
    <label for="Counties">Choose a County:</label>
  <select name="counties">
    {{counties}}
  </select>
  <br><br>
</form>

<p> Percentage of the population under 18 years old within the county: {{ county_age }}%</p>
</body>
</html>
